{{ if eq .chezmoi.os "windows" -}}
  {{ range .packages.windows.winget -}}
  winget install --id={{ . | quote }} --silent
  {{ end -}}
  {{ range .packages.windows.scoop.buckets -}}
  scoop bucket add {{ . | quote }}
  {{ end -}}
  {{ range .packages.windows.scoop.packages -}}
  scoop install {{ . | quote }}
  {{ end -}}
  {{ range .packages.windows.choco -}}
  # choco install {{ . | quote }} -y
  $packageName = {{ . | quote }}
  if (!(choco list | findstr $PackageName)) {
    choco install $PackageName -y
  }
  {{ end -}}
{{ end -}}