{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -euo pipefail

if command -v apt-get >/dev/null 2>&1; then
  sudo apt-get update
  sudo apt-get install -y {{ .packages.linux.apt | join " " }}
elif command -v pacman >/dev/null 2>&1; then
  sudo pacman -Syu --needed --noconfirm {{ .packages.linux.pacman | join " " }}
else
  echo "Unsupported Linux package manager" >&2
  exit 1
fi

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.homebrew.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
