[hooks.read-source-state.pre]
{{- if eq .chezmoi.os "windows" }}
    command = "powershell.exe"
    args = ["-File", "{{ .chezmoi.sourceDir }}/.install-bitwarden.ps1"]
{{- else }}
    command = ".local/share/chezmoi/.install-bitwarden.sh"
    args = ["-c", "{{ .chezmoi.sourceDir }}/.install-bitwarden.sh"]
{{- end }}