[hooks.read-source-state.pre]
{{- if eq .chezmoi.os "windows" }}
    command = "powershell.exe"
    args = ["-File", ".local/share/chezmoi/.install-bitwarden.ps1"]
{{- else }}
    command = ".local/share/chezmoi/.install-bitwarden.sh"
{{- end }}